
$("#table-body").append(`
  <tr id="input-group">
    <th scope="row" id="product-num"></th>
       
   <td><input size="1em" class="form-control text-center" type="text" value="1" name="payment[invoice_lines_attributes][0][account_type]" id="payment_paymentlines_attributes_0_account_type"></td>

  <td><input size="1em" class="form-control text-center" type="text" value="1" description="payment[paymentlines_attributes][0][accountno]" id="invoice_invoice_lines_attributes_0_accountno"></td>

<td><input size="1em" class="form-control text-center" type="text" value="1" quantity="payment[paymentlines_attributes][0][accountname]" id="payment_paymentlines_attributes_0_accountname"></td>

<td><input size="1em" class="form-control text-center" type="text" value="1" unit_price="payment[paymentlines_attributes][0][description]" id="payment_paymentlines_attributes_0_description"></td>

<td><input size="1em" class="form-control text-center" type="text" value="1" amount="payment[paymentlines_attributes][0][amount]" id="payment_paymentlines_attributes_0_amount"></td>

<br>


    <td><a class="btn btn-danger float-right remove-field" id="delete-row">Delete</a></td>



  </tr>
`)


