<!-- app/views/payments/_payment_line_item_fields.html.erb -->
<tr class="nested-fields">
  <td><%= f.text_field :description %></td>
  <td><%= f.number_field :amount %></td>
  <td><%= link_to 'Remove', '#', class: 'remove_fields' %></td>
</tr>

