
$("#table-body").append(`
  <tr id="input-group">
    <th scope="row" id="product-num"></th>
            <td><input type="text" name="payment[paymentlines_attributes][][accountno]" required></td>
            <td><input type="text" name="payment[paymentlines_attributes][][account_type]" required></td>
            <td><input type="text" name="payment[paymentlines_attributes][][description]" required></td>
            <td><input type="text" name="payment[paymentlines_attributes][][amount]" required></td>
           </tr>


`)


