<br><br>

<%= link_to 'Download as PDF', payment_path(@payment, format: :pdf) %>

<div class="payment p-5">

  <% if @payment %>
    <%= render partial: 'paymenttemp', locals: {payment: @payment} %>
  <% else %>
    <h4>payment does not exist!</h4>
  <% end %>


</div>
