<!DOCTYPE html>
<html>
<head>
<title>PDFs | Ruby on Rails</title>
  <%= wicked_pdf_stylesheet_link_tag "invoice" %>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'application' %>
</head>
<body>
  <%= yield %>
</body>
</html>
